body {
  background: #1488cc;
  background: -webkit-linear-gradient(to right, #1488cc, #2b32b2);
  background: linear-gradient(to right, #1488cc, #2b32b2);
  background-image: url("../Assets/background.jpg");
}
.header {
  background-color: #001f42;
}
/* Main */
.main {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}
/* Form */
.main .form-control {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 40rem;
  padding: 20px;
  gap: 10px;
}
/* Search input */
.search {
  width: 100%;
  padding: 0.6rem 20px;
  border: none;
  outline: none;
  border-radius: 1rem;
}
.search:focus {
  outline: 2px solid #001f42;
}
/* Search button */
.submit {
  font-size: 1.2rem;
  padding: 5px 8px;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
}
/* Clear button */
.clear {
  display: none;
  font-size: 1.2rem;
  padding: 5px 8px;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
}
#clear.show {
  display: block;
}
#contents {
  margin: 2rem;
  width: 100%;
  max-width: 55rem;
  border-radius: 15px;
  background-color: #ffffff5d;
  border: 1px solid #ffffff9a;
}
/* Loader */
.loader {
  width: 80px;
  height: 40px;
  border-radius: 100px 100px 0 0;
  position: relative;
  overflow: hidden;
  justify-self: center;
  margin: 2rem;
}
.loader:before {
  content: "";
  position: absolute;
  inset: 0 0 -100%;
  background: radial-gradient(farthest-side, #ffd738 80%, #0000) left 70% top
      20%/15px 15px,
    radial-gradient(farthest-side, #020308 92%, #0000) left 65% bottom 19%/12px
      12px,
    radial-gradient(farthest-side, #ecfefe 92%, #0000) left 70% bottom 20%/15px
      15px,
    linear-gradient(#9eddfe 50%, #020308 0);
  background-repeat: no-repeat;
  animation: l5 2s infinite;
}
/* Loader animation */
@keyframes l5 {
  0%,
  20% {
    transform: rotate(0);
  }
  40%,
  60% {
    transform: rotate(0.5turn);
  }
  80%,
  100% {
    transform: rotate(1turn);
  }
}

@media (max-width: 768px) {
  .header .links {
    background-color: #001f42;
  }
}
