body {
  background: #1488cc;
  background: -webkit-linear-gradient(to right, #1488cc, #2b32b2);
  background: linear-gradient(to right, #1488cc, #2b32b2);
  background-image: url("../Assets/background.jpg");
}
.header {
  background-color: #001f42;
}
.header .links a:hover {
  color: #1488cc;
}
/* Main */
.main {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
  align-items: center;
}
/* Form */
.main .form-control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 40rem;
  padding: 20px;
  gap: 10px;
}
/* Search input */
.search {
  width: 100%;
  padding: 0.6rem 20px;
  border: none;
  outline: none;
  border-radius: 1rem;
}
.search:focus {
  outline: 2px solid #001f42;
}
/* Search button */
.submit {
  font-size: 1.2rem;
  padding: 5px 8px;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
  transition: 0.5s ease;
}
/* Clear button */
.clear {
  display: none;
  font-size: 1.2rem;
  padding: 5px 8px;
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
  transition: 0.5s ease;
}
#clear.show {
  display: block;
}
.submit:hover {
  color: #ffffff;
  background-color: #001f42;
}
.clear:hover {
  color: #ffffff;
  background-color: #001f42;
}
#contents {
  max-width: 55rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 2rem 10rem;
}
.wrapper {
  margin: 1rem;
  color: #ffffff;
  padding: 20px;
  display: flex;
  min-width: 100%;
  min-height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  background-color: #ffffff5d;
  border: 2px solid #ffffff9a;
}
.wrapper .top {
  text-align: center;
  padding: 10px;
  padding-bottom: 30px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border-bottom: 1px solid #ffffff;
}
.wrapper .top .condition {
  font-size: 2.5rem;
}
.wrapper .top img {
  /* margin: -1rem -1rem -1rem; */
  width: 8rem;
  height: 8rem;
}
.wrapper .top .temp {
  display: inline-flex;
  gap: 2rem;
  margin: 0 0 1rem;
}
.wrapper .top .temp > * {
  font-weight: bold;
  font-size: 2rem;
}
.bottom {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex: 1rem 1 1;
}
.bottom > * {
  width: 33.33333%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.bottom > * > i {
  font-size: 2rem;
}
/* Loader */
.loader {
  width: 60px;
  display: flex;
  align-items: flex-start;
  aspect-ratio: 1;
}
.loader:before,
.loader:after {
  content: "";
  flex: 1;
  aspect-ratio: 1;
  --g: conic-gradient(from -90deg at 10px 10px, #fff 90deg, #0000 0);
  background: var(--g), var(--g), var(--g);
  filter: drop-shadow(30px 30px 0 #fff);
  animation: l20 1s infinite;
}
.loader:after {
  transform: scaleX(-1);
}
@keyframes l20 {
  0% {
    background-position: 0 0, 10px 10px, 20px 20px;
  }
  33% {
    background-position: 10px 10px;
  }
  66% {
    background-position: 0 20px, 10px 10px, 20px 0;
  }
  100% {
    background-position: 0 0, 10px 10px, 20px 20px;
  }
}

@media (max-width: 768px) {
  .header .links {
    background-color: #001f42;
  }
}
